<div>
    <div v-if="game_state == 'lobby'">
        <%- include('game/lobby'); -%>
    </div>
    <div v-else-if="game_state == 'round_splash'">
        <%- include('game/round_splash'); -%>
    </div>
    <div v-else-if="game_state == 'question'">
        <%- include('game/question'); -%>
    </div>
    <div v-else-if="game_state == 'answer'">
        <%- include('game/answer'); -%>
    </div>
    <div v-else-if="game_state == 'round_score'">
        <%- include('game/round_score'); -%>
    </div>
    <div v-else-if="game_state == 'final_score'">
        <%- include('game/final_score'); -%>
    </div>
    <div v-else>
        <h1>Error!</h1>
    </div>
</div>
